#barrr{
  position: fixed;
  z-index: 2147483647;
  width:60px;
  height:500px;
  background:linear-gradient(to bottom,black,rgb(93, 93, 93));
  top:120px;
  left: 40px;
  border-radius: 30px;
  display: none;
  flex-direction: column;
  align-items: center;
  gap:20px;
}
#sup{
  position: fixed;
  z-index: 2147483647;
  width:60px;
  height:60px;
  background-color: rgb(55, 54, 55);
  top:30px;
  left: 40px;
  border-radius: 100%;
  background-image: url('https://www.shutterstock.com/image-vector/chat-bot-icon-virtual-smart-600nw-2478937555.jpg');
  background-size: cover;
}
#hlt{
  position: relative;
  width:40px;
  height:40px;
  border-radius: 100%;
  background-image: url('https://cdn-icons-png.flaticon.com/512/5153/5153539.png');
  background-size: cover;
  top: 20px;
}
#sum{
  position: relative;
  width:40px;
  height:40px;
  border-radius: 100%;
  background-image: url('https://cdn-icons-png.flaticon.com/512/8820/8820688.png');
  background-size: cover;
  top: 20px;
}
#trsl{
  position: relative;
  width:40px;
  height:40px;
  border-radius: 100%;
  background-image: url('https://cdn-icons-png.flaticon.com/512/9628/9628122.png');
  background-size: cover;
  top: 20px;
}
#col{
  position: relative;
  width:40px;
  height:40px;
  border-radius: 100%;
  background-image: url('https://e7.pngegg.com/pngimages/425/931/png-clipart-computer-icons-color-picker-icon-resume-color-thumbnail.png');
  background-size: cover;
  top: 20px;
}
#clrsel{
  z-index: 2147483647;
  position: fixed;
  width:60px;
  height: 375px;
  background-color: rgb(54, 55, 55);
  top:120px;
  left: 110px;
  border-radius: 30px;
  display: none;
  flex-direction: column;
  align-items: center;
  gap:20px;
}
#bk{
  position: relative;
  width:40px;
  height:40px;
  border-radius: 100%;
  background-image: url('https://cdn-icons-png.freepik.com/512/8280/8280079.png');
  background-size: cover;
  top: 20px;
}
#BookMarks{
  position: fixed;
  z-index: 2147483647;
  width:330px;
  height: 300px;
  background:linear-gradient(to right,rgb(0, 0, 0),rgb(62, 62, 62) );
  top:120px;
  left: 110px;
  border-radius: 4px;
  display: none;
  flex-direction: column;
  align-items: center;
  gap:10px;
  overflow-y: auto;
  scrollbar-width: none;
}
#AddBk{
  z-index: 2147483647;
  position: fixed;
  width:330px;
  height:100px;
  background:linear-gradient(to right,rgb(0, 0, 0),rgb(62, 62, 62) );
  top: 425px;
  left: 110px;
  border-radius: 4px;
  display: none;
}
#InputBk{
  position: relative;
  width: 270px;
  height:35px;
  border-radius: 10px;
  overflow-x: auto;
  font-size: large;
  left:25px;
  top:10px;
}
#delToggle{
  position: absolute;
  width: 80px;
  height:20px;
  color: white;
  background-color: rgb(65, 65, 65);
  border-radius: 20px;
  font-size: medium;
  left:25px;
  top:70px;
  text-align: center;
}
#addWeb{
  position: absolute;
  width: 140px;
  height:20px;
  color: white;
  background-color: rgb(74, 74, 74);
  border-radius: 20px;
  font-size: medium;
  left:125px;
  top:70px;
  text-align: center;
}
.color{
  position:relative;
  width:40px;
  height:40px;
  top:20px;
  border-radius: 100%;
}
.color:hover{
  border:solid White 3px;
}
#sup:hover{
  box-shadow: 0 0 8px rgba(14, 46, 252,0.7);
}

.marked{
  position: relative;
  border-radius: 4px;
  background-color: rgb(175, 174, 172);
  width:300px;
  height: 50px;
  text-align: center;
  align-content: center;
  overflow-x: auto;
  top:10px;
  flex-shrink: 0;
  font-size: large;
  scrollbar-width: none;
}
.marked:hover{
  background-color: rgb(0, 204, 255);
  border:solid rgb(0, 204, 255) 3px;
  box-shadow: 0 0 4px rgb(0, 255, 255);
}
#barrr:hover{
  box-shadow: 0 0 8px rgba(0, 0, 0,0.4);
}
.ad:hover{
  box-shadow: 0 0 5px rgba(235, 235, 235,0.4);
}